<div class="container">
  <h1>Job vacancies</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Job Title</th>
      <th scope="col">School</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= job.school %></td>
        <td><%= job.salary %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
